#root {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: calc(100% - 40px);
    margin: 12px;
    padding: 12px;
    gap: 20px;

    & > div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    & p > img {
        height: 20px;
    }
}

@media (min-width: 576px) {
    #root {
        max-width: 546px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    #root {
        max-width: 748px;
    }
}

@media (min-width: 1024px) {
    #root {
        max-width: 924px;
    }
}

.title {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #8EA7E9;
    border-radius: 4px;
    gap: 8px;
}

.title > div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 4px;
}

.summary {
    display: grid;
    grid-template-columns: 100%;
    gap: 4px;

    & > div {
        display: flex;
        flex-direction: column;
        background-color: #C1CFC0;
        border: 1px solid #11324D;
        border-radius: 8px;
        gap: 4px;
    }
}

@media (min-width: 576px) {
    .summary {
        display: grid;
        grid-template-columns: 49% 49%;
        justify-content: space-between;
    }
}

.summary_title {
    display: flex;
    padding: 8px;
    background-color: #6B7AA1;
    border-radius: 6px 6px 0 0;
    gap: 8px;
}

.summary_content {
    display: flex;
    flex-direction: column;
    padding: 8px;
    color: #11324D;
}

.projects {
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    gap: 8px;

    & > div {
        display: flex;
        flex-direction: column;
        padding: 4px;

        & > div {
            & > img {
                display: flex;
                width: 100%;
                border-radius: 4px 4px 0 0;
            }
        }

        & > h4 {
            display: flex;
            padding: 4px;
            background-color: #6B7AA1;
            border-radius: 0 0 4px 4px;
        }
    }
}

@media (min-width: 576px) {
    .projects {
        display: grid;
        grid-template-columns: 49% 49%;
        justify-content: space-between;
    }
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /*background-color: #2F71B3;*/

    & > div {
        display: flex;
        flex-direction: column;
        width: 320px;
        padding: 8px;
        background-color: #8EA7E9;
        border-radius: 4px;
        gap: 4px;
        z-index: 2;

        & > div {
            & > a {
                display: inline-flex;
            }
        }

        & > p {
            display: flex;
            flex-direction: column;
            padding: 4px;
            background-color: #E5E0FF;
            border-radius: 4px;
            color: #424874;
            gap: 4px;

            & > p {
                display: flex;
                align-items: center;
                padding: 4px;
                gap: 4px;
            }
        }
    }
}

.overlayTitle {
    padding: 8px;
    border-radius: 4px 4px 0 0;
    background-color: #7286D3;
}

.two-columns {
    display: flex;
    gap: 12px;
}

.mark {
    border-radius: 4px;
    background-color: rgba(114, 134, 211, 0.4);
    padding: 0 4px 0;
}

.mark-small {
    border-radius: 4px;
    background-color: rgba(26, 26, 26, 0.4);
    padding: 0 4px 0;
    font-size: 12px;
}

.mark-dev {
    border-radius: 4px;
    background-color: rgb(253, 138, 138);
    padding: 4px 4px;
    font-size: 12px;
    color: #1a1a1a;
}

.mark-prod {
    border-radius: 4px;
    background-color: rgb(158, 161, 212);
    padding: 4px 4px;
    margin: 0 2px;
    font-size: 12px;
    color: #1a1a1a;
}

.highlight01 {
    color: #7F669D;
    font-size: 14px;
}

.label_content {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 4px;
    padding: 8px;
    background-color: #BDCDD6;
    border: 1px solid #6096B4;
    border-radius: 4px;

    & > p {
        display: flex;
        gap: 4px;
    }
}

.skill {
    & > div {
        display: flex;
        flex-direction: column;
        gap: 4px;

        & > div {
            display: flex;
            flex-direction: column;
            gap: 4px;

            & > p {
                display: flex;
                flex-wrap: wrap;
                gap: 4px;
                padding-left: 20px;
            }
        }
    }
}

.experience {
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    gap: 4px;

    & > div {
        display: flex;
        flex-direction: column;
        gap: 4px;
        & > p {
            padding-left: 12px;
        }
    }
}

.highlight02 {
    color: #FFD6A5;
    font-size: 14px;
}